#navbar .logo {
  float: none;
  text-align: center;
  padding-left: 0;
}

#navbar ul,
#navbar ul li {
  float: none;
  text-align: center;
}

#navbar ul li a {
  padding: 8px;
  border-bottom: 1px dotted #ddd;
}

#showcase {
  height: 100%;
}

.showcase-content {
  padding-top: 70px;
  padding-bottom: 45px;
}

#home-info {
  background: #333;
}

#home-info .info-img {
  display: none;
}

#home-info .info-content {
  float: none;
  width: 100%;
}

.box {
  float: none;
  width: 100%;
}

#about-info .info-right,
#about-info .info-left {
  float: none;
  width: 100%;
}

#about-info .info-right {
  margin-top: 30px;
}

.l-heading {
  text-align: center;
  line-height: 1.2;
}

#contact-info .box {
  border-bottom: 1px dotted #444;
}
